/* src/index.css */
@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.marquee-left {
  animation: marquee-left 35s linear infinite;
}

.marquee-left:hover {
  animation-play-state: paused;
}

.marquee-right {
  animation: marquee-right 40s linear infinite;
}

.marquee-right:hover {
  animation-play-state: paused;
}